# Scraping & Bot dependencies
playwright>=1.41.0
playwright-stealth>=1.0.6
httpx>=0.26.0
beautifulsoup4>=4.12.0
lxml>=5.1.0
pyyaml>=6.0.1
asyncio
fastapi
uvicorn
python-telegram-bot
python-dotenv
cloudscraper
